#contact {
  background-image: linear-gradient(
    135deg,
    $primary-color 0%,
    $secondary-color 100%
  );
  -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  padding: 15rem 0 10rem 0;
  margin-top: -10rem;
  margin-bottom: -1px;
  color: #272341;
  

  @include respond(tab-land) {
    padding: 10rem 0;
    clip-path: none;
    margin-top: 0;
    -webkit-clip-path: none;
  }

    &__text {
      margin-bottom: 2.5rem;
      background: white;
      width: 20em;
      margin: 1em auto;
      padding: 1em;
      font-size: 1.5em;
      box-shadow: 0 .5em 1em 0 $blue;
    }

    &__text,
    a {
      font-size: 2.4rem;

      // Responsive for contact text
      @include respond(phone) {
        font-size: 2rem;
      }
    }
    }
    

.test-form {
  background: #fff;
  width: 20em;
  margin: 1em auto;
  padding: 1em;
  font-size: 1.5em;
  box-shadow: 0 .5em 1em 0 $blue;
  border-radius: 3px;
}

input[type=submit] {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  background: white;
  color: black;
  border: 2px solid currentColor;
  padding-left: 1em;
  padding-right: 1em;
  
  &:hover {
    background: rgba($blue, .25);
    color: $white-color;
  }
}